@font-face {
	font-family: 'digital-7';
	src: url('font/digital-7.ttf'); 
	src: 
		url('font/digital-7.ttf') 
		format('opentype');
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #01273C;
}

#moon {
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-400px);
    width: 800px;
    filter: blur(5px);
}

#calc-display {
    position: relative;
    margin: 20% auto 10px auto;
    max-width: 400px;
    width: 70%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #4285F4;
    border-radius: 20px;
    border: solid #D2A56D 10px;
    text-align: center;
    font-family: 'digital-7', sans-serif;
    overflow-x: hidden; 
}

#number-display {
    position: relative;
    margin-top: 10px;
    height: 40px;
    font-size: 4rem;
}

#sum-display {
    position: absolute;
    bottom: 0;
    margin: 0 4px;
    height: 40px;
    font-size: 2rem;
}

.buttons {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 1px;
    width: 50px;
    height: 50px;
    display: inline-block;
    flex-grow: 1;
    /*4 buttons per row - 1/4 of parent width - 2 x margin width*/
    width: calc(100% * (1/4) - 2px);
}
